@import 'https://js.arcgis.com/4.22/@arcgis/core/assets/esri/themes/light/main.css';

.app {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.scene {
  width: auto;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 300px;
  height: 100%;
  float: right;
}

.card {
  max-width: 300px;
}

.globeDiv {
  box-shadow: none !important;
  pointer-events: none !important;
}